@charset "utf-8";
body {
  background: #efefef;
}
a {
  color: #333;
}
header {
  height: 44px;
  background-color: #f4483e;
  text-align: center;
  line-height: 44px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: "Microsolf-yahei";
}
.header_r {
  padding: 5px;
  line-height: 10px;
}
.header_l {
  height: 44px;
  position: relative;
  width: 40px;
  text-align: center;
}
.header_l .arrow {
  position: absolute;
  top: 0;
  height: 44px;
  width: 40px;
  left: 0;
}
.header_l .arrow span {
  font-size: 18px;
}
header span {
  color: white;
}
.coupon_content .cont {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 16px;
  background-color: #fff;
}
.coupon_content .cont li {
  background-color: white;
  float: left;
}
.coupon_content .cont li a {
  display: block;
  padding: 10px 8px;
  height: 37px;
  border: 1px solid #bfbfbf;
  background-color: #f4f4f4;
  line-height: 16px;
  color: #000;
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 5px;
}
.coupon_content .cont li a img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
  margin-bottom: 2px;
}
/*底部*/
footer .foot_top {
  font-size: 14px;
  height: 82px;
  padding-top: 20px;
  padding-left: 8px;
  margin-left: -8px;
  background-color: #fff;
  line-height: 36px;
  padding-bottom: 26px;
  /*border-top: solid 1px #ebebeb;*/
}
footer .foot_top .foot_top_top {
  border-top: solid 1px #ebebeb;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ebebeb));
  padding-left: 8px;
}
