<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title></title>
    <link rel="stylesheet" href="css/mui.css"/>
    <link rel="stylesheet" href="fonts/iconfont.css"/>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="less/bijia.css"/>
    <link rel="shortcut icon" href="favicon.ico">

</head>
<body>
<!--头部 -->
<header class="clearfix maincolor">
    <div class="fl header_l"><a href="index.html"><img src="images/header_logo.png" alt=""/></a></div>
    <div class="fr header_r"><a href="#"><img src="images/header_app.png" alt=""/></a></div>
</header>
<!-- 搜索-->
<div class="header_search clearfix">
    <input type="search" placeholder="请输入你想比价的商品"/>

    <div class="search_cont maincolor">搜索</div>
</div>
<!-- 中间主体不同地方-->
<div class="prolist">
    <div class="top_head">
        <div class="top_head_con">
            <a href="index.html">首页</a>&nbsp;>
            <a href="prolist.html？" class="cat"></a>&nbsp;>
            <a href="#" class="tit_name"></a>
        </div>
        <input type="button" value="筛选"/>
    </div>
    <!--&lt;!&ndash;//商品主体&ndash;&gt;-->
    <div class="product">
        <div class="detail" >
            <div id="detail_con" >
                <!--<div class="img"><img src="images/kdj.jpg" alt=""/>-->
                    <!--<a class="collect" href="#"><img src="images/kdj.jpg" alt=""/></a></div>-->
                <!--<div class="tit">康佳(KONKA) LED32E330C 32英寸 高清720P 普通LED液晶电视</div>-->
            </div>
            <div class="info">
                <ul>
                    <li class="price">最&nbsp;低&nbsp;价&nbsp;:&nbsp;<span>¥1145.00</span></li>
                    <li class="price">最低来自:&nbsp;飞牛网</li>
                    <li>全网评论: 292957条</li>
                    <li>全网评论: 292957条</li>
                </ul>
            </div>
        </div>
        <!--tab切换 -->

        <div class="mui-content">
            <div id="slider" class="mui-slider">
                <div id="sliderSegmentedControl"
                     class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
                    <a class="mui-control-item mui-active" href="#item1mobile">
                        比价购买
                    </a>
                    <a class="mui-control-item" href="#item2mobile">
                        产品参数
                    </a>
                    <a class="mui-control-item allconlength" href="#item3mobile">
                        <!--评价(2322)-->
                    </a>
                </div>

                <div class="mui-slider-group">
                    <div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
                        <div id="scroll1" class="mui-scroll-wrapper">
                            <div id="price_db">

                            </div>

                            <div class="table">

                            </div>
                            <div class="notice">
                                * 实际价格以各网站列出的实时售价为准，我们提供的价格可能有数小时至数日的延迟。</div>
                            <div class="net_com">
                                网友评论
                            </div>
                            <div class="comment">
                                <!--<div class="web_comment">-->
                                    <!--<div class="list mui-row">-->
                                        <!--<div class="mui-col-xs-6 name">斯***文</div>-->
                                        <!--<div class="mui-col-xs-6 time">2012/9/13</div>-->
                                        <!--<div class="mui-col-xs-6">星星星星星</div>-->
                                        <!--<div class="mui-col-xs-6 from">购买自:<span>亚马逊</span></div>-->
                                    <!--</div>-->
                                    <!--<div class="web_comment_cont">-->
                                        <!--屏幕不是完美屏，初步看有4,5个暗点。给康佳400打电话咨询，说中央的确有3个以上给换，也懒得换了，不太影响观看。挺适合普通家庭使用的，在这里给没买朋友一些建议。电视功能多了没用，很多电视以很多功能（上网，游戏）等等，价格虚高，其实一个普通电视，再单买一个游戏机，或者网络播放器，效果要比电视自带的功能好很多很多，价格也更实惠。屏幕看起来比较细长。边很窄，但是略厚，至于ＬＥＤ这个说词，什么发光，背光的，普通用户根本整不明白。总之一句话，这电视还行，挺实惠。节能补贴从9月13开始申请到现在已经将近3个月，发了上百次邮件，打过10多次电话，就是进行不下去，亚马逊你们到底什么意思？-->
                                    <!--</div>-->
                                    <!--<div class="respon"><a href="#">回复</a></div>-->
                                <!--</div>-->
                                <!--<div class="web_comment">-->
                                    <!--<div class="list mui-row">-->
                                        <!--<div class="mui-col-xs-6 name">斯***文</div>-->
                                        <!--<div class="mui-col-xs-6 time">2012/9/13</div>-->
                                        <!--<div class="mui-col-xs-6">星星星星星</div>-->
                                        <!--<div class="mui-col-xs-6 from">购买自:<span>亚马逊</span></div>-->
                                    <!--</div>-->
                                    <!--<div class="web_comment_cont">-->
                                        <!--屏幕不是完美屏，初步看有4,5个暗点。给康佳400打电话咨询，说中央的确有3个以上给换，也懒得换了，不太影响观看。挺适合普通家庭使用的，在这里给没买朋友一些建议。电视功能多了没用，很多电视以很多功能（上网，游戏）等等，价格虚高，其实一个普通电视，再单买一个游戏机，或者网络播放器，效果要比电视自带的功能好很多很多，价格也更实惠。屏幕看起来比较细长。边很窄，但是略厚，至于ＬＥＤ这个说词，什么发光，背光的，普通用户根本整不明白。总之一句话，这电视还行，挺实惠。节能补贴从9月13开始申请到现在已经将近3个月，发了上百次邮件，打过10多次电话，就是进行不下去，亚马逊你们到底什么意思？-->
                                    <!--</div>-->
                                    <!--<div class="respon"><a href="#">回复</a></div>-->
                                <!--</div>-->
                            </div>

                            <div class="more"><a href="#">查看更多评价</a></div>
                        </div>
                    </div>
                    <div id="item2mobile" class="mui-slider-item mui-control-content">
                        <div id="scroll2" class="mui-scroll-wrapper">
                            2

                        </div>

                    </div>
                    <div id="item3mobile" class="mui-slider-item mui-control-content">
                        <div id="scroll3" class="mui-scroll-wrapper">
                            <div class="comment">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<!-- 底部-->

<div class="footer">
    <div class="foot_regist">
        <a href="login.html">登录</a><a href="reg.html">注册</a><a href="#"><i class="iconfont icon-xiangshang-copy"></i>返回顶部</a>
    </div>
    <div class="foot-cont">
        <p class="foot_foot">
            <a href="#" style="color: red">手机APP下载</a>
            <a href="#">慢慢买手机版</a> -- 掌上比价平台
        </p>

        <p><a href="#">m.manmanbuy.com</a></p>
    </div>
</div>
<!-- 慢慢买下载固定在底部的-->
<div class="fixed">
    <a href="#"><img src="images/manmanxiazai.png" alt=""/></a>
</div>

</body>
<script src="js/mui.js"></script>
<script src="lib/jquery/jquery.js"></script>
<script src="lib/template.js"></script>
<script src="js/bijia.js"></script>
<!-- 商品详细模板-->
<script type="text/html" id="detail">
    {{if result}}
    <div class="img">{{#result[0].productImg}}
        <a class="collect" href="#"><img src="http://www.zuyushop.com/wap/images/sc.jpg" alt=""/></a></div>
    <div class="tit">{{result[0].productName}}</div>
    {{/if}}
</script>

<!--比价购买-->
<script type="text/html" id="bijia">
    {{if result}}
        {{#result[0].bjShop}}
    {{/if}}
</script>

<!--商品评论-->
<script type="text/html" id="comment_all">
    {{if result}}
    {{each result as value i}}
    <div class="web_comment">
        <div class="list mui-row">
            <div class="mui-col-xs-6 name">{{value.comName}}</div>
            <div class="mui-col-xs-6 time">{{value.comTime}}</div>
            <div class="mui-col-xs-6 starfive">
                <span class="iconfont icon-xingxing01 star"></span>
                <span class="iconfont icon-xingxing01 star"></span>
                <span class="iconfont icon-xingxing01 star"></span>
                <span class="iconfont icon-xingxing01"></span>
                <span class="iconfont icon-xingxing01"></span>
            </div>
            <div class="mui-col-xs-6 from">{{value.comFrom}}</span></div>
        </div>
        <div class="web_comment_cont">
    {{value.comContent}}
        </div>
        <div class="respon"><a href="#">回复</a></div>
    </div>
    {{/each}}
    {{/if}}
</script>


</html>