<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title></title>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="fonts/iconfont.css"/>
    <link rel="stylesheet" href="less/brandtopten.css"/>
    <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
<div>
    <!--头部 -->
    <header class="clearfix maincolor">
        <div class="fl header_l"><a href="index.html"><img src="images/header_logo.png" alt=""/></a> </div>
        <div class="fr header_r"><a href="#"><img src="images/header_app.png" alt=""/></a></div>
    </header>
    <!-- 搜索-->
    <div class="header_search clearfix">
        <input  type="search" placeholder="请输入你想比价的商品"/>
        <div class="search_cont maincolor">搜索</div>
    </div>

    <!--回到首页-->
    <div class="nav">
        <a href="index.html">首页</a>&nbsp;&gt;&nbsp;<a href="brandTitle.html">品牌大全</a>&nbsp;&gt;&nbsp;<a href="#" class="where"></a>
    </div>
    <div class="hot midone">

    </div>
    <!-- 中间主体不同地方-->
    <div class="cat" >
        <!-- 十大-->
       <ul class="ten">
           <!--<li>-->
           <!--<a href="#">-->
              <!--<span>1</span>-->
               <!--<div class="inner">-->
                   <!--<div class="tit">海信平板电视</div>-->
                   <!--<p>30天全网销量：458300件</p>-->
               <!--</div>-->
           <!--</a>-->
           <!--</li>-->
       </ul>
        <!-- -->
        <div class="hot midtwo">

        </div>
        <!-- 销量-->
        <div class="sales">
            <ul>
                <!--<li>-->
                    <!--<a href="#" class="clearfix">-->
                        <!--<div class="pic"><img src="images/kdj.jpg" alt=""/></div>-->
                        <!--<div class="info">-->
                            <!--<div class="cont">康佳(KONKA) LED32E330C 32英寸 高清720P 普通LED液晶电视</div>-->
                            <!--<div class="price clearfix">-->
                                <!--<span>￥1099.00</span>-->
                                <!--<div class="star">-->
                                    <!--<i class="iconfont icon-xingxing01"></i>-->
                                    <!--<i class="iconfont icon-xingxing01"></i>-->
                                    <!--<i class="iconfont icon-xingxing01"></i>-->
                                    <!--<i class="iconfont icon-xingxing01"></i>-->
                                    <!--<i class="iconfont icon-xingxing01"></i>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="other">-->
                                <!--<span>报价(6)</span>-->
                                <!--<span>全网评论(314562)</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</li>-->
            </ul>
        </div>
        <div class="hot midthree">

        </div>

        <!-- 评论-->
         <div class="comment">
             <ul>
                 <li>
                     <a href="#" class="first">
                         <div class="sigle clearfix">
                                <div class="pic"></div>
                                <div class="cont">康佳(KONKA) V55U 55英寸 4K超高清智能电视</div>
                         </div>
                     </a>
                     <div class="allcomt">
                         <!--<div class="spec">-->
                             <!--<a href="#">-->
                                 <!--<div class="name clearfix">-->
                                     <!--<div class="star fl">-->
                                         <!--z***n：-->
                                         <!--<i class="iconfont icon-xingxing01"></i>-->
                                         <!--<i class="iconfont icon-xingxing01"></i>-->
                                         <!--<i class="iconfont icon-xingxing01"></i>-->
                                         <!--<i class="iconfont icon-xingxing01"></i>-->
                                         <!--<i class="iconfont icon-xingxing01"></i>-->
                                     <!--</div>-->
                                     <!--<div class="time fr">2017/3/20</div>-->
                                 <!--</div>-->
                                 <!--<div class="con">-->
                                     <!--安装到位了，老用户，原来的康佳电视用了10多年了，还可以正常使用，只是偶尔会有自动黑屏现象，考虑用了10多年了，因此继续买康佳，希望能够继续保持原来康佳质量。-->
                                 <!--</div>-->

                             <!--</a>-->
                         <!--</div>-->
                         <!--<div class="spec">-->
                             <!--<a href="#">-->
                                 <!--<div class="name clearfix">-->
                                     <!--<div class="star fl">-->
                                         <!--z***n：-->
                                         <!--<i class="iconfont icon-xingxing01"></i>-->
                                         <!--<i class="iconfont icon-xingxing01"></i>-->
                                         <!--<i class="iconfont icon-xingxing01"></i>-->
                                         <!--<i class="iconfont icon-xingxing01"></i>-->
                                         <!--<i class="iconfont icon-xingxing01"></i>-->
                                     <!--</div>-->
                                     <!--<div class="time fr">2017/3/20</div>-->
                                 <!--</div>-->
                                 <!--<div class="con">-->
                                     <!--安装到位了，老用户，原来的康佳电视用了10多年了，还可以正常使用，只是偶尔会有自动黑屏现象，考虑用了10多年了，因此继续买康佳，希望能够继续保持原来康佳质量。-->
                                 <!--</div>-->

                             <!--</a>-->
                         <!--</div>-->
                     </div>

                 </li>
                 <!--<li>-->
                     <!--<a href="#">-->
                         <!--<div class="sigle clearfix">-->
                             <!--<div class="pic"><img src="images/kdj.jpg" alt=""/></div>-->
                             <!--<div class="cont">康佳(KONKA) V55U 55英寸 4K超高清智能电视</div>-->
                         <!--</div>-->
                     <!--</a>-->
                     <!--<div class="spec">-->
                         <!--<a href="#">-->
                             <!--<div class="name clearfix">-->
                                 <!--<div class="star fl">-->
                                     <!--z***n：-->
                                     <!--<i class="iconfont icon-xingxing01"></i>-->
                                     <!--<i class="iconfont icon-xingxing01"></i>-->
                                     <!--<i class="iconfont icon-xingxing01"></i>-->
                                     <!--<i class="iconfont icon-xingxing01"></i>-->
                                     <!--<i class="iconfont icon-xingxing01"></i>-->
                                 <!--</div>-->
                                 <!--<div class="time fr">2017/3/20</div>-->
                             <!--</div>-->
                             <!--<div class="con">-->
                                 <!--安装到位了，老用户，原来的康佳电视用了10多年了，还可以正常使用，只是偶尔会有自动黑屏现象，考虑用了10多年了，因此继续买康佳，希望能够继续保持原来康佳质量。-->
                             <!--</div>-->

                         <!--</a>-->
                     <!--</div>-->
                 <!--</li>-->
             </ul>
         </div>
    </div>
    <!-- 底部-->
    <div class="footer">
        <div class="foot_regist">
            <a href="login.html" >登录</a><a  href="reg.html" >注册</a><a href="#"><i class="glyphicon glyphicon-arrow-up"></i>返回顶部</a>
        </div>
        <div class="foot-cont">
            <p class="foot_foot">
                <a href="#" style="color: red">手机APP下载</a>
                <a href="#">慢慢买手机版</a> -- 掌上比价平台
            </p>
            <p><a href="#">m.manmanbuy.com</a></p>
        </div>
    </div>
    <!-- 慢慢买下载固定在底部的-->
    <div class="fixed">
        <a href="#"><img src="images/manmanxiazai.png" alt=""/></a>
    </div>
</div>
</body>
<script src="lib/jquery/jquery.js"></script>
<script src="lib/template.js"></script>
<script src="js/brandtopten.js"></script>



<!-- 模板 -->
<script type="text/html" id="cat_menu">
    {{if result}}
    {{each result as value i}}
    <li>
        <a href="#">
            <span>{{i+1}}</span>
            <div class="inner">
                <div class="tit">{{value.brandName}}</div>
                <p>{{value.brandInfo}}</p>
            </div>
        </a>
    </li>
    {{/each}}
    {{/if}}
</script>

<!--销量模板-->
<script type="text/html" id="saless">
    {{if result}}
    {{each result as value i}}
    <li>
    <a href="bijia.html?id={{value.productId}}" class="clearfix">
    <div class="pic">{{#value.productImg}}</div>
    <div class="info">
    <div class="cont">{{value.productName}}</div>
    <div class="price clearfix">
    <span>{{value.productPrice}}</span>
    <div class="star">
    <i class="iconfont icon-xingxing01"></i>
    <i class="iconfont icon-xingxing01"></i>
    <i class="iconfont icon-xingxing01"></i>
    <i class="iconfont icon-xingxing01"></i>
    <i class="iconfont icon-xingxing01"></i>
    </div>
    </div>
    <div class="other">
    <span>{{value.productQuote}}</span>
    <span>全网{{value.productCom}}</span>
    </div>
    </div>
    </a>
    </li>
    {{/each}}
    {{/if}}
</script>


<!--评论-->
<script type="text/html" id="comments">
    {{if result}}
    {{each result as value i}}
    <div class="spec">
    <a href="#">
    <div class="name clearfix">
    <div class="star fl">
    {{value.comName}}
    <i class="iconfont icon-xingxing01"></i>
    <i class="iconfont icon-xingxing01"></i>
    <i class="iconfont icon-xingxing01"></i>
    <i class="iconfont icon-xingxing01"></i>
    <i class="iconfont icon-xingxing01"></i>
    </div>
    <div class="time fr">{{value.comTime}}</div>
    </div>
    <div class="con">
{{value.comContent}}
    </div>

    </a>
    </div>
    {{/each}}
    {{/if}}
</script>

</html>