<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <title> 慢慢网比价网-手机版</title>
    <link href="css/mui.css" rel="stylesheet"/>
    <link rel="stylesheet" href="fonts/iconfont.css"/>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="less/index.css"/>
    <!--<link rel="stylesheet" href="css/index.css"/>-->
    <link rel="shortcut icon" href="favicon.ico">





</head>
<body>
<!--<div class="mm_layout">-->
<div class="">
    <!--头部 -->
    <header class="clearfix maincolor">
        <div class="fl header_l"><a href="#"><img src="images/header_logo.png" alt=""/></a></div>
        <div class="fr header_r"><a href="#"><img src="images/header_app.png" alt=""/></a></div>
    </header>
    <!-- 搜索-->
    <div class="header_search clearfix">
        <input type="search" placeholder="请输入你想比价的商品"/>

        <div class="search_cont maincolor">搜索</div>
    </div>
    <!-- 首页九宫格菜单栏-->

    <div class="mm_content">
        <ul class="mui-table-view mui-grid-view mui-grid-9" id="index_ulmenu">
            <!-- 加载动画-->
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </ul>
    </div>
    <!--促销-->
    <div class="shouye_cuxiao">
        <a href="#"><h3 class="maincolor">超值折扣推荐</h3></a>
        <a href="#"> <span class="iconfont icon-10"></span></a>
    </div>
    <!--促销内容商品 -->
    <div class="product">
        <ul class="mui-table-view" id="menu_list">
            <!-- 缓存动画-->
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>

        </ul>
    </div>
    <!-- 底部-->
    <div class="footer">
        <a href="moneyctrl.html" class="much">更多优惠信息 »</a>

        <div class="shouye_cuxiao">
            <a href="brandTitle.html"><h3 class="maincolor">品牌排行</h3></a>
            <a href="brandTitle.html"> <span class="iconfont icon-10"></span></a>
        </div>
        <div class="foot_regist">
            <a href="login.html">登录</a><a href="reg.html">注册</a><a href="#"><i
                class="iconfont icon-xiangshang-copy"></i>返回顶部</a>
        </div>
        <div class="foot-cont">
            <p class="foot_foot">
                <a href="#" style="color: red">手机APP下载</a>
                <a href="#">慢慢买手机版</a> -- 掌上比价平台
            </p>

            <p><a href="#">m.manmanbuy.com</a></p>
        </div>
    </div>
    <!-- 慢慢买下载固定在底部的-->
    <div class="fixed">
        <a href="#"><img src="images/manmanxiazai.png" alt=""/></a>
    </div>

</div>

</body>
<script src="lib/jquery/jquery.js"></script>
<script src="lib/template.js"></script>
<script src="js/index.js"></script>
</html>


<!--菜单栏的九宫格模板-->
<script type="text/html" id="index_menu">
    {{if result}}
    {{each result as value i}}
    <li class="mui-table-view-cell mui-media mui-col-xs-3">
        <a href="{{value.titlehref}}">
                    <span class="" style="">
                       {{#value.img}}
                    </span>

            <div class="mui-media-body">{{value.name}}</div>
        </a>
    </li>
    {{/each}}
    {{/if}}
</script>

<!-- 模板商品-->
<script type="text/html" id="index_menuone">
    {{if result}}
    {{each result as value i}}
    <li class=" mui-media model_li">
        <a href="moneyctrl_detal.html?productId={{value.productId}}#moneyctrl" class="b_bottom">
            <div class="mui-pull-left m_r10">{{#value.productImgSm}}</div>
            <div class="product_body ">
                {{value.productName}}
                <span class="fontcolor">{{value.productPinkage}}</span>

                <div class="price">
                    <span class="fl">{{value.productFrom}}</span>&nbsp;|&nbsp;<span>{{value.productTime}}</span>
                                <span class="fr sum"><i class="iconfont icon-pinglun"></i>
                                    {{value.productComCount=/\d+/.exec(value.productComCount)[0];}}
                                </span>
                </div>
            </div>
        </a>
    </li>
    {{/each}}
    {{/if}}
</script>